//Colors

//Background color:
$bg-color: #232227;
$section: #fff;
$bg-todo: #ff8000;
$white: #fff;
$black: #000;

//Default Fonts
$font-title: #fff;
$font-content: #151515;
$font-input: #3a3a3a;
$font-btn-white: #fff;


//Buttons colors
$btn-add: #00ACC1;
$btn-remove: #fff;
$btn-update: #00BFA5;
$btn-confirm: #00897B;
$btn-close: #00B8D4;

//Content backgrounds colors
$content: rgba(255, 255, 255, 0.2);
$content-odd: rgba(225, 225, 225, 0.5);
$content-checked: #c5c5c5;
$content-hover: rgba(200, 200, 200, 0.5);
$input-task: #f1f1f1;


//Images
$bg-all: 'https://i.pinimg.com/originals/05/da/3b/05da3b6087826d375547b7b87799360f.jpg';
//$bg-all: 'http://cdn.wallpapersafari.com/16/57/0g5dEJ.jpg';
$bg-top: 'http://www.baltana.com/files/wallpapers-7/Material-Design-Dark-Background-Wallpapers-23170.jpg';

$border-radius: 10px;