@import 'caller';

*{
  box-sizing: border-box;
}
body{
  background: {
    image: url($bg-all);
    size: cover;
    position: center center;
    color: $bg-color;
  }
  #app{
    position: relative;
    padding: {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
