@import 'caller';

#menu-top{
  position: fixed;
  width: 100%;
  z-index: 1;
  i{
    color: $font-btn-white;
  }
  .flexcenter{
    align-items: center;
    justify-content: center;
    p{
      color: $font-btn-white;
      padding-left: 5px;
    }
  }
  aside{
    background: #fff;
    ul{
      li{
        &.subheader{
          width: 100%;
          padding: 0 5%;
        }
      }
    }
  }
  .over{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
  }
  nav.toolbar{
    z-index: 2;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background: $bg-todo;
  }
}